<div class="jumbotron center">
  <h1> Welcome to Create 3</h1>
  <h3> Social media that changes the world, literally.</h3>
  <%= link_to "Join Us", "#", class:"btn btn-lg btn-success join-us" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3>Get Inspired</h3>
    <h2 class="left"> Find and persure goals set by others.</h2>
    <p> <%=link_to "See Goals", "#", class:"btn btn-small btn-info" %></p>
  </div>
  <div class="col-lg-4">
    <h3>Track</h3>
    <h2 class="left"> Track your progress through goals and over time.</h2>
    <p> <%=link_to "View Stories", "#", class:"btn btn-small btn-info" %></p>
  </div>
  <div class="col-lg-4">
    <h3>Brag</h3>
    <h2 class="left">Share with others when you meet a goal.</h2>
    <p> <%=link_to "Join Us", "#", class:"btn btn-small btn-info" %></p>
  </div>
</div>